<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.partycheckapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:name=".PartyApp"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <activity android:name=".presentation.feature.auth.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".presentation.feature.main.activity.MainActivity"
                android:theme="@style/AppTheme">
        </activity>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="1:677917306753:android:c1af9d59a4945295"/>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="AIzaSyDas4X_jF8xiyzMKg1We5QB0O6Rlc9dMDM" />
    </application>

</manifest>